---
import palette from '@data/palette.json'
import Swatch from './Swatch.astro'
---
<div x-show="open == 'swa'" class="animate-enter w-full" style="--stagger: 1">
  <div class="grid grid-cols-2 gap-4 sm:gap-6 md:grid-cols-4 justify-items-center">
    {
      Object.entries((palette as Palette))
        .map(
          ([name, color]) => <Swatch name={name} color={color} />
        )
    }
  </div>
</div>
<script src='./copy.ts'/>