---
import palette from '@data/palette.json'
import Swatch from './Swatch.astro'
---
<div class="swap-off">
  <div class="grid grid-cols-2 gap-4 sm:gap-6 md:grid-cols-4">
    {
      Object.entries((palette as Palette))
        .map(
          ([name, color]) => <Swatch name={name} color={color} />
        )
    }
  </div>
</div>
<script hoist type="module">
  import './copy.ts'
</script>