---
import Tooltip from '@components/Common/Tooltip.astro'  
export interface Props {
  name: string
  color: PaletteColor
}

let { name, color } = Astro.props as Props
name = name.replace(/([A-Z])/g, " $1")
name = name.charAt(0).toUpperCase() + name.slice(1)
---
<Tooltip title={color.hex} className="w-full">
  <button
    class="btn card card-compact w-full p-0 h-auto items-stretch justify-start drop-shadow-xl shadow-lg hover:shadow-primary hover:shadow swatch"
    data-clipboard={color.hex}
  >
    <figure class="h-12 w-full" style={`background: ${ color.rgb } none repeat scroll 0% 0%`} />
    <div class="card-body items-center text-center swap">
      <h2 class="text-xl font-semibold swap-off lowercase">{ name }</h2>
      <h2 class="text-xl font-semibold swap-on lowercase">Copied</h2>
    </div>
  </button>
</Tooltip>
