---
export interface Props {
  name: string
  color: PaletteColor
}

let { name, color } = Astro.props as Props
name = name.replace(/([A-Z])/g, " $1")
name = name.charAt(0).toUpperCase() + name.slice(1)
---

<button
  class="btn card w-48 card-compact p-0 h-auto items-stretch justify-start drop-shadow-xl shadow-lg hover:shadow-primary swatch"
  data-clipboard={color.hex}
>
  <figure class="h-12 w-full" style={`background: ${ color.rgb } none repeat scroll 0% 0%`} />
  <div class="card-body items-center text-center">
    <h2 class="card-title normal-case" data-name={ name }>{ name }</h2>
  </div>
</button>