@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--inner-core: #161616;
	--outer-core: #202020;
	--mantle: #252525;
	--crust: #303030;
	--tropo: #3281ea;
	--strato: #0284e8;
	--meso: #02a3e8;
	--thermo: #02bbe8;
	--text: #f3f3f3;
	--magma: #B10C0C;
	--nebula: #05844A;
}

::selection {
	@apply bg-tropo;
}

html {
	@apply bg-inner-core scroll-smooth;
}

body {
	@apply bg-inner-core text-text antialiased;
	overflow: overlay;

	&::-webkit-scrollbar-track {
		@apply bg-outer-core shadow-inner hover:shadow-lg;
	}

	&::-webkit-scrollbar {
		@apply bg-outer-core w-scroll;
	}

	&::-webkit-scrollbar-thumb {
		@apply bg-tropo rounded-lg;
	}
	@apply bg-inner-core;
}

.animate-enter {
	opacity: 0;
	animation: enter 500ms forwards;
	animation-delay: calc(var(--stagger) * 200ms);
}

@keyframes enter {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

.gradient-text {
	background: url(https://media3.giphy.com/media/3ohhwNqFMnb7wZgNnq/200w.webp?cid=ecf05e47d997p21ocdhmsygyroh5htnsovwf7hl7k22blb0q&rid=200w.webp&ct=g);
	background-position-x: 0%;
	background-position-y: 0%;
	background-clip: border-box;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #6666;
	background-position: center;
	background-size: 17%;
	filter: brightness(2);
}