---
---
<div id="toggler" class="btn-group">
  <button id="swatch-toggle" class="btn btn-sm btn-active">Swatches</button>
  <button id="ingredient-toggle" class="btn btn-sm">Ingredients</button>
</div>
<script hoist type="module">
  import './toggle.ts'
</script>