---
import Section from '../../layouts/Section.astro'
---
<Section>
  <div
    class="grid min-h-[calc(100vh-14rem)] items-center gap-12 lg:grid-cols-[1fr,minmax(0,1fr)]"
  >
    <div class="space-y-6 text-center lg:space-y-12 lg:text-left">
      <h2
        class="animate-enter font-display text-5xl lg:text-7xl font-bold"
        style="--stagger: 1"
      >
        Straight out of deep space
      </h2>
      <p
        class="animate-enter mx-auto max-w-sm text-lg text-subtle lg:mx-0 lg:max-w-md lg:text-xl"
        style="--stagger: 2"
      >
        Lunar is a minimal, black and blue color scheme inspired by space
      </p>
      <div class="animate-enter" style="--stagger: 3">
        <a
          href="/themes"
          class="rounded-full bg-tropo hover:bg-meso px-6 py-2.5 font-medium transition-colors duration-150 hover:bg-highlight-high focus:outline-none focus:ring focus:ring-highlight-high"
          >Discover <span class="ml-1">→</span></a
        >
      </div>
    </div>
  </div>
</Section>