---
import { Icon } from 'astro-icon'
import Section from '../../layouts/Section.astro'
---
<Section>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-6xl lg:text-8xl font-extrabold italic capitalize animate-enter font-display gradient-text" style="--stagger: 1">
        Straight out of deep space
      </h1>
      <p class="animate-enter text-xl text-subtle italic mb-5 lg:text-xl" style="--stagger: 2">
        Lunar is a minimal, black and blue color scheme inspired by space.
      </p>
      <a href="/palette" class="btn btn-primary gap-2 normal-case bg-outer-core hover:bg-tropo">
        Discover 
        <Icon name="fa:space-shuttle" class="h-4 w-4"/>
      </a>
    </div>
  </div>
</Section>
