.heroImg.astro-WFNPEC7B{max-height:24rem;-o-object-fit:cover;object-fit:cover;overflow:hidden}.heroImg.astro-WFNPEC7B img.astro-WFNPEC7B{width:100%}.bio.astro-WFNPEC7B{font-size:var(--f-u1);line-height:2}
