---
import Icon from 'astro-icon'
import Logo from '../Common/Logo.astro'

export interface Props {
  active: string
}

const { active } = Astro.props as Props
---
<header class="navbar mx-auto max-w-content z-10 mt-4">
  <a class="navbar-start btn btn-ghost normal-case text-2xl gap-2" href="/">
    <Logo icon />Lunar
  </a>
  <div class="navbar-end inline-flex items-center">
    <div class="dropdown dropdown-left sm:hidden">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <Icon class="w-8 h-8" name="mdi:backburger" />
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52 gap-2 text-slate-500">
        <li>
          <a class={"btn btn-ghost normal-case" + (active == "/themes" ? " text-white" : "")} href="/themes">
            Themes
          </a>
        </li>
        <li>
          <a class={"btn btn-ghost normal-case" + (active == "/ports" ? " text-white" : "")} href="/ports">
            Ports
          </a>
        </li>
        <li>
          <a class={"btn normal-case hover:bg-strato" + (active == "/palette" ? " text-white bg-strato" : "")} href="/palette">
            Palette
          </a>
        </li>
      </ul>
    </div>
    <ul class="menu hidden sm:menu-horizontal p-0 gap-2 text-slate-500">
      <li>
        <a class={"btn btn-ghost normal-case" + (active == "/themes" ? " text-white" : "")} href="/themes">
          Themes
        </a>
      </li>
      <li>
        <a class={"btn btn-ghost normal-case" + (active == "/ports" ? " text-white" : "")} href="/ports">
          Ports
        </a>
      </li>
      <li>
        <a class={"btn normal-case hover:btn-primary" + (active == "/palette" ? " text-white btn-primary" : "")} href="/palette">
          Palette
        </a>
      </li>
    </ul>
  </div>
</header>