---
import Section from '@layouts/Section.astro'
import Swatches from './Swatches/index.astro'
---
<Section>
  <div
    class="flex flex-col lg:flex-row lg:text-left justify-between items-center"
  >
    <div class="flex flex-col items-around justify-center">
      <h1 class="mb-5 text-6xl lg:text-8xl font-extrabold italic capitalize animate-enter font-display gradient-text" style="--stagger: 1">
        Palette
      </h1>
      <p class="animate-enter text-xl text-subtle italic mb-5 lg:text-xl" style="--stagger: 2">
        Signals from outer space
      </p>
    </div>
  </div>
  <div
    class="animate-enter flex flex-grow items-center justify-center lg:justify-end"
    style="--stagger: 1"
  >
    <div class="animate-enter" style="--stagger: 2">
      <Swatches />
    </div>
  </div>
</Section>