---
import Section from '@layouts/Section.astro'
import Swatches from './Swatches/index.astro'
import Ingredients from './Ingredients/index.astro'
import Toggle from './Toggle/index.astro'
import Title from '@components/Common/Title.astro'
---
<Section>
  <div
    class="flex flex-col lg:flex-row lg:text-left justify-between items-center mb-16"
  >
    <div class="flex flex-col items-around justify-center">
      <Title>
        Palette
      </Title>
      <p class="animate-enter text-xl text-subtle italic mb-5 lg:text-xl" style="--stagger: 2">
        Signals from outer space
      </p>
    </div>
    <!-- <Toggle /> -->
  </div>
  <div
    class="animate-enter flex flex-grow items-center justify-center lg:justify-end"
    style="--stagger: 1"
  >
    <div id="toggleTarget" class="swap file:animate-enter" style="--stagger: 2">
      <Ingredients />
      <Swatches />
    </div>
  </div>
</Section>