---
import { Icon } from 'astro-icon'
import Logo from '../Common/Logo.astro'
---

<footer class="footer footer-center p-10 text-primary-content bg-outer-core">
  <div class="text-text">
    <p>© 2022 - Lunar</p>
  </div> 
  <div>
    <div class="grid grid-flow-col gap-4">
      <a class="btn btn-sm btn-ghost btn-circle" href="https://github.com/lunar-theme">
        <Icon class="h-4 w-4" name="fa:github" />
      </a>
      <a class="btn btn-sm btn-ghost btn-circle" href="https://twitter.com/lunar_theme">
        <Icon class="h-4 w-4" name="fa:twitter" />    
      </a>
      <a class="btn btn-sm btn-ghost btn-circle" href="https://lunar-theme.github.io/discord">
        <Icon class="h-4 w-4" name="fa-brands:discord" />
      </a>
    </div>
  </div>
</footer>
