---
import { Icon } from 'astro-icon'
import Logo from '../Logo.astro'
---

<footer class="footer footer-center p-10 text-primary-content">
  <div>
    <p>© 2022 - Lunar</p>
  </div> 
  <div>
    <div class="grid grid-flow-col gap-4">
      <a class="btn btn-sm btn-ghost btn-circle" href="https://github.com/lunar-theme">
        <Icon name="fa:github" />
      </a>
      <a class="btn btn-sm btn-ghost btn-circle" href="https://twitter.com/lunar_theme">
        <Icon name="fa:twitter" />
      </a>
    </div>
  </div>
</footer>
