---
export interface Props {
 title: string
 className?: string
}

const { title, className = '' } = Astro.props as Props
---
<div class={"tooltip tooltip-secondary " + className} data-tip={title}>
  <slot />
</div>