---
import BaseHead from '../components/Head.astro'
import Nav from '../components/Navbar/index.astro'
---

<html lang="en" data-theme="lunar">
  <head>
    <BaseHead />
  </head>
  <body>
    <Nav />
    <main class="min-h-[calc(100vh-4rem)]">
      <slot />
    </main>
  </body>
</html>