---
import BaseHead from '../components/Head.astro'
import Nav from '../components/Navbar/index.astro'
import Footer from '../components/Footer/index.astro'
---

<html lang="en" data-theme="lunar">
  <head>
    <BaseHead />
  </head>
  <body>
    <div class="hero min-h-screen flex flex-col relative">
      <div class="absolute inset-0 z-0">
        <img class="w-full h-full object-cover" src="https://api.lorem.space/image/fashion?w=1000&h=800" />
      </div>
      <Nav />
      <main class="grow flex flex-col items-center justify-center">
        <slot name="hero"/>
      </main>
    </div>
    <slot />
    <Footer />
  </body>
</html>